.happy-face {
  width: 400px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
  }
  30% {
    transform: translateY(-50px);
  }
  50% {
    /* transform: scale(1.2) rotate(10deg); */
  }
}
